<!DOCTYPE html>
<html{{ with site.LanguageCode | default site.Language.Lang }} lang="{{ . }}"{{ end }}>
  <head>
    <title>{{ .Permalink }}</title>
    <link rel="canonical" href="{{ .Permalink }}">
    <meta name="robots" content="noindex">
    <meta charset="utf-8">
    <meta http-equiv="refresh" content="0; url={{ .Permalink }}">
    <style>
      .social-icons-index {
        visibility: hidden;
      }
    </style>
  </head>
  <body>
    {{- with site.Params.socialIcons -}}
    <div class="social-icons-index">
      {{- range . }}
      <a href="{{ trim .url " " }}" rel="me">{{ (.title | default .name) | title }}</a>
      {{- end }}
    </div>
    {{- end }}
  </body>
</html>